<!DOCTYPE html>

<html lang="pt-BR">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>Cadastro - Sistema TI</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}"
    >

</head>


<body class="pagina-login">


<div class="login-container">

    <div class="login-card">


        <h1>👤</h1>

        <h2>Criar conta</h2>

        <p>
            Cadastre-se no sistema
        </p>


        {% if erro %}

            <div class="erro">

                {{ erro }}

            </div>

        {% endif %}


        <form
            method="POST"
            action="/cadastro"
        >


            <div class="campo">

                <label>
                    Nome
                </label>

                <input
                    type="text"
                    name="nome"
                    placeholder="Seu nome"
                    required
                >

            </div>


            <div class="campo">

                <label>
                    E-mail
                </label>

                <input
                    type="email"
                    name="email"
                    placeholder="seu@email.com"
                    required
                >

            </div>


            <div class="campo">

                <label>
                    Senha
                </label>

                <input
                    type="password"
                    name="senha"
                    placeholder="Crie uma senha"
                    required
                >

            </div>


            <button type="submit">

                Criar conta

            </button>


        </form>


        <p class="cadastro-link">

            Já possui uma conta?

            <a href="/login">
                Fazer login
            </a>

        </p>


    </div>

</div>


</body>

</html>