<!DOCTYPE html>

<html lang="pt-BR">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>Login - Sistema TI</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}"
    >

</head>


<body class="pagina-login">


<div class="login-container">

    <div class="login-card">


        <h1>🛠️</h1>

        <h2>Sistema de Chamados TI</h2>

        <p>
            Entre na sua conta
        </p>


        {% if erro %}

            <div class="erro">

                {{ erro }}

            </div>

        {% endif %}


        <form
            method="POST"
            action="/login"
        >


            <div class="campo">

                <label>
                    E-mail
                </label>

                <input
                    type="email"
                    name="email"
                    placeholder="seu@email.com"
                    required
                >

            </div>


            <div class="campo">

                <label>
                    Senha
                </label>

                <input
                    type="password"
                    name="senha"
                    placeholder="Digite sua senha"
                    required
                >

            </div>


            <button type="submit">

                Entrar

            </button>


        </form>


        <p class="cadastro-link">

            Ainda não possui uma conta?

            <a href="/cadastro">
                Criar conta
            </a>

        </p>


    </div>

</div>


</body>

</html>